.day {
	font-size: 1.5em;
}

.date-components .dayname {
  color: green;
}


.date-components .day sup {
	font-size: 0.5em;
}

.date-components .month {
	font-weight: bold;
	color: blue;
}

.date-components .year {
  font-style: italic;
}

.date-components .to-conjunction, .separator {
	color: #999999;
}

.time-wrapper .suffix {
	font-size: 0.75em;
}

.date-components span, .date-components time {
	display: inline-block;
}

.date-components .to-conjunction {
	padding: 0 0.5em;
}

time.date-components, .date-components time {
  padding: 0 1.5em;
}

div.date-components {
	padding: 1em;
}

.date-components span.time-wrapper {
	margin: 0 1em;
}